<div class="row">
    <div class="col-md-3 page-left-sidebar">
		<h4 class="text-center">功能列表</h4>
	  	<div class="list-group">
			<button type="button" class="list-group-item" ng-click="changeUpload()">导入文件</button>
			<button type="button" class="list-group-item" ng-click="changeAssign()">分配专家</button>
			<button type="button" class="list-group-item" ng-click="changeDeadline()">截止时间</button>
			<button type="button" class="list-group-item" ng-click="changeBlind()">抽取盲审</button>
      <button type="button" class="list-group-item" ng-click="changeDefense()">分组和答辩</button>
      <button type="button" class="list-group-item" ng-click="changeStudents()">学生列表</button>
		</div>
    </div>
    <div ng-if="type === 'upload'" class="col-xs-9 page-right">
    	<div>
        <div id="download-template">
          <a href="/assign/download/student">下载学生模板</a>
          <a href="/assign/download/teacher">下载教师模板</a>
        </div>
        <div>
          <form method="post" action="/assign/upload" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value={{csrftoken}}>
            <label>导入学生文件</label>
            <input type="file" name="students">
            <button type="submit">提交文件</button>
          </form>
          <br/>
          <form method="post" action="/assign/upload" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value={{csrftoken}}>
            <label>导入老师文件</label>
            <input type="file" name="teachers">
            <button type="submit">提交文件</button>
          </form>
        </div>
    		<br/><br/>
    		<button ng-click="createTasks()">生成任务书</button>
    	</div>
    </div>
    <div ng-if="type === 'assign'" class="col-xs-9 page-right">
       	<div >
            <table class="table">
                <thead>
                    <th>教师工号</th>
                    <th>姓名</th>
                    <th>方向</th>
                    <th>所在导师组</th>
                    <td>操作</td>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in teacherList">
                      <td>{{teacher.TeacherID}}</td>
                      <td>{{teacher.Name}}
                      <td>{{teacher.Category}}</td>
                      <td>{{teacher.Team}}</td>
                      <td><input type="checkbox" ng-model="teacher.isExpert" ng-checked={{teacher.isExpert}} value={{teacher.isExpert}}></td>
                    </tr>
                </tbody>
	       		  <button ng-click="submitTeacherList()">提交名单</button>
            </table>
       	</div>
    </div>
    <div ng-if="type === 'deadline'" class="col-xs-9 page-right">
	    <form>
	    	  <div>
            <label>提交任务书开始时间</label>
            <input type="date" name="taskStarttime" required ng-model="formData_deadline.taskStarttime">
	       		<label>提交任务书截止时间</label>
	       		<input type="date" name="taskDeadline" required ng-model="formData_deadline.taskDeadline">
	       	</div>
	       	<div>
            <label>修改任务书开始时间</label>
            <input type="date" name="reviewDeadtime" required ng-model="formData_deadline.reviewStarttime">
            <label>修改任务书截止时间</label>
	       		<input type="date" name="reviewDeadline" required ng-model="formData_deadline.reviewDeadline">
	       	</div>
	       	<button ng-click="submitDeadline(formData_deadline)">提交</button>
	    </form>
    </div>
    <div ng-if="type === 'blind'" class="col-xs-9 page-right">
       	<div>
       		<form>
       			<label>请输入盲审后一位学号</label>
	       		<input type="text" name="lastNumber" ng-model="formData_blind.lastNumber">
	       		<button ng-click="submitBlind(formData_blind)">提交</button>
       		</form>
       	</div>
    </div>
    <div ng-if="type === 'defense'" class="col-xs-9 page-right">
        <div>
          <button id="buttonExpert" ng-click="assignExpert()">专家分组</button>
          <button id="buttonDefense" ng-click="assignDefense()">交叉答辩</button>
          <div id="waiting" style="visibility: hidden;">
            运行中...
          </div>
        </div>
    </div>
    <div ng-if="type === 'students'" class="col-xs-9 page-right">
        <div>

        </div>
    </div>
</div>