<div class="row">
  <div class="col-md-3 page-left-sidebar">
	<h4 class="text-center">审核列表</h4>
  	<div class="list-group">
        <button type="button" class="list-group-item" ng-click="allStudentsBtn()">全部学生</button>
		<button type="button" class="list-group-item" ng-click="unReviewBtn()">未审核</button>
		<button type="button" class="list-group-item" ng-click="passedBtn()">已通过</button>
		<button type="button" class="list-group-item" ng-click="unPassedBtn()">未通过</button>
	</div>
  </div>
  <div class="col-xs-9 page-right">
        <table class="table">
            <thead>
                <th>姓名</th>
                <th>论文题目</th>
                <th>指导老师</th>
                <th>审核专家</th>
                <!-- <th>提交时间</th> -->
                <!-- <th>审核时间</th> -->
                <th>审核状态</th>
                <td>操作</td>
            </thead>
            <tbody>
                <tr ng-repeat="reviewStudent in reviewStudents">
                <td>{{reviewStudent.Name}}</td>
                <td class="max_td">{{reviewStudent.Title}}</td>
                <td>{{reviewStudent.Teacher}}</td>
                <td>{{reviewStudent.Expert}}</td>
                <!-- <td>{{reviewStudent.submitTime}}</td> -->
                <!-- <td>{{reviewStudent.reviewTime}}</td> -->
                <td>{{reviewStudent.reviewStatus}}</td>
                <td>
                    <a href="#/review/{{reviewStudent.ID}}" ng-if="student.reviewStatus !== '通过'">查看</a>
                    
                </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>