<form class="form-horizontal">

	<div class="control-group center-block">
	  	<label class="control-label" for="teacherName">指导老师姓名</label>
	  	<input type="text" ng-model="formData.Teacher"id="teacherName">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="teacherPhone">指导老师电话</label>
	  	<input type="text" ng-model="formData.TeacherPhone" id="teacherPhone">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="teacherEmail">指导老师邮箱</label>
	  	<input type="text" ng-model="formData.TeacherEmail" id="teacherEmail">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="studentName">学生姓名</label>
	  	<input type="text" ng-model="formData.Name" id="studentName">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="studentName">学生姓名</label>
	  	<input type="text" ng-model="formData.StudentPhone" id="studentPhone">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="Title">论文题目名</label>
	  	<input type="text" ng-model="formData.Title" id="Title">
	</div>
	<div class="control-group">
	  	<label class="control-label" for="EnglishTitle">论文英文题目</label>
	  	<input type="text" ng-model="formData.EnglishTitle" id="EnglishTitle">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="task1">任务1</label>
	  	<input type="text" ng-model="formData.Task1" id="task1">
	</div>
	<div class="control-group">
	  	<label class="control-label" for="task2">任务2</label>
	  	<input type="text" ng-model="formData.Task2" id="task2">
	</div>
	<div class="control-group">
	  	<label class="control-label" for="task3">任务3</label>
	  	<input type="text" ng-model="formData.Task3" id="task3">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="Outcome1">目标1</label>
	  	<input type="text" ng-model="Outcome1" id="Outcome1">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="Outcome2">目标2</label>
	  	<input type="text" ng-model="Outcome2" id="Outcome1">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="Outcome1">目标3</label>
	  	<input type="text" ng-model="Outcome3" id="Outcome1">
	</div>

	<div class="control-group">
	  	<label class="control-label" for="review">主要内容</label>
	  	<textarea ng-model="formData.Review" rows="5" id="review"></textarea>
	</div>
	<input type="submit" value="提交" ng-click="submit(formData)">
</form>