<div class="container">
<a href="/assign/export_task/{{formData.StudentID}}">导出xls</a>
<form class="form-horizontal">
	<div class="control-group center-block form-group">
	  	<label class="control-label col-sm-2" for="teacherName">指导老师姓名</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Teacher" class="form-control" id="teacherName">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="academicTitle">指导老师职称</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.AcademicTitle" class="form-control" id="academicTitle">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="affiliation">指导老师学院</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Affiliation" class="form-control" id="affiliation">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="teacherPhone">指导老师电话</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.TeacherPhone" class="form-control" id="teacherPhone">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="teacherEmail">指导老师邮箱</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.TeacherEmail" class="form-control" id="teacherEmail">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="studentID">学号</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.StudentID" class="form-control" id="studentID">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="studentName">学生姓名</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Name" class="form-control" id="studentName">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="grade">年级</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Grade" class="form-control" id="grade">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="major">专业</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Major" class="form-control" id="major">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="class">班级</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.Class" class="form-control" id="class">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="studentPhone">学生电话</label>
	  	<div class="col-sm-4">
	  	<input type="text" disabled ng-model="formData.StudentPhone" class="form-control" id="studentPhone">
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="Title">论文题目名</label>
	  	<div class="col-sm-8">
	  	<input type="text" disabled ng-model="formData.Title" class="form-control" id="Title">
	  	</div>
	</div>
	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="EnglishTitle">论文英文题目</label>
	  	<div class="col-sm-8">
	  	<input type="text" disabled ng-model="formData.EnglishTitle" class="form-control" id="EnglishTitle">
	  	</div>
	</div>

	<div class="control-group form-group">
		<label class="control-label col-sm-2" for="type1">类别1</label>
		<div class="col-sm-4">
		<select ng-model="formData.Type1" ng-options="m.id as m.name for m in selectType1">
    		<option value="">-- 请选择 --</option>
		</select>
		</div>
	</div>

	<div class="control-group form-group">
		<label class="control-label col-sm-2" for="type1">类别2</label>
		<div class="col-sm-4">
		<select ng-model="formData.Type2" ng-options="m.id as m.name for m in selectType2">
    		<option value="">-- 请选择 --</option>
		</select>
		</div>
	</div>

	<div class="control-group form-group">
		<label class="control-label col-sm-2" for="type1">类别3</label>
		<div class="col-sm-4">
		<select ng-model="formData.Type3" ng-options="m.id as m.name for m in selectType3">
    		<option value="">-- 请选择 --</option>
		</select>
		</div>
	</div>

	<div class="control-group form-group">
		<label class="control-label col-sm-2" for="type1">类别4</label>
		<div class="col-sm-4">
		<select ng-model="formData.Type4" ng-options="m.id as m.name for m in selectType4">
    		<option value="">-- 请选择 --</option>
		</select>
		</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="task1">任务1</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Task1" rows="5" id="task1"></textarea>
	  	</div>
	</div>
	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="task2">任务2</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Task2" rows="5" id="task2"></textarea>
	  	</div>
	</div>
	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="task3">任务3</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Task3" rows="5" id="task3"></textarea>
	  	</div>
	</div>
	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="task4">任务4</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Task4" rows="5" id="task4"></textarea>
	  	</div>
	</div>

	<div class="form-group">
		<div style="color: red" class="col-sm-8 col-sm-offset-2">
			<p>请老师们至少提供3项可以明确评估的具体输出结果，这些输出结果可以是学生开发的硬件、软件、仿真、理论推导等，但不能仅是对某项技术的调研报告。</p>
		</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="Outcome1">输出结果1</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Outcome1" rows="5" id="Outcome1"></textarea>
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="Outcome2">输出结果2</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Outcome2" rows="5" id="Outcome2"></textarea>
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="Outcome3">输出结果3</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Outcome3" rows="5" id="Outcome3"></textarea>
	  	</div>
	</div>

	<div class="form-group">
		<div style="color: red" class="col-sm-8 col-sm-offset-2">
			<p>此部分描述毕业设计的背景、意义和毕设的基本内容。</p>
		</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="detail">主要内容</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Detail" rows="5" id="Detail"></textarea>
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="reference">参考文献</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Reference" rows="5" id="reference"></textarea>
	  	</div>
	</div>

	<div class="control-group form-group">
	  	<label class="control-label col-sm-2" for="schedule">进度安排</label>
	  	<div class="col-sm-8">
	  	<textarea class="form-control" ng-model="formData.Schedule" rows="5" id="schedule"></textarea>
	  	</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-1">
			<input class="btn btn-default" type="submit" value="提交" ng-click="submit(formData)">
		</div>
	</div>
</form>
</div>