<div class="row">
  <div class="col-md-3 page-left-sidebar">
	<h4 class="text-center">学生列表</h4>
  	<div class="list-group">
		<button type="button" class="list-group-item">未审核</button>
		<button type="button" class="list-group-item">已通过</button>
		<button type="button" class="list-group-item">未通过</button>
	</div>
  </div>
  <div class="col-xs-9 page-right">
        <table class="table">
            <thead>
                <th>姓名</th>
                <th>指导老师</th>
                <th>论文题目</th>
                <th>提交时间</th>
                <th>审核人</th>
                <th>审核状态</th>
                <td>操作</td>
            </thead>
            <tbody>
                <tr ng-repeat="student in students">
                <td>{{student.Name}}</td>
                <td>{{student.Teacher}}</td>
                <td>{{student.Title}}</td>
                <td>{{student.submitTime}}</td>
                <td>{{student.Expert}}</td>
                <td>{{student.reviewStatus}}</td>
                <td>
                    <a href="#/student/{{student.ID}}" ng-if="student.Expert === ''">查看</a>
                    <a href="#/student/{{student.ID}}" ng-if="student.Expert !== ''">不查看</a>
                </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>
